@font-face {
  font-family: Righteous;
  src: url("/public/Fonts/Righteous-Regular.ttf");
}

@font-face {
  font-family: Neon;
  src: url("/public/Fonts/Neoneon-3zaD6.otf");
}

*{
  /* margin: 0; */
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  --lighter_color: #fdfdbd;
  --mov_color: #ff78b7;
  --blue_color: #72bbff;
}

body{
  margin: 0;
  overflow: overlay;
  box-sizing: border-box;
  background: #000000;
  background: -webkit-linear-gradient(to right,  #000000, #050809, #000000);
  background: -webkit-linear-gradient(to right,  #000000, #050809, #000000);
  height: 100vh;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  display: none;
}

::-webkit-scrollbar-thumb{
  background: #00000037;
  border-radius: 5px;
  box-shadow: inset 0 0 20px #000000;
}

.page{
  margin: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin: 0 auto;
}

.start_img, .start_img2, .start_img3, .start_img4, .start_img_bmw, .start_img_audi, .start_img_merc{
  width: 100%;
  height: 850px;
  max-height: 100vh;
  background-image: url("/public/Img/background.png");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  margin: 0;
  padding: 0px 20px;
  width: 100%;
  height: 80px;
  overflow: hidden;
  backdrop-filter: blur(7px);
  background-color: #00000090;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
}

.navbar_cont{
  display: flex;
}

.navbar_item{
  margin: 0px 22px;
  font-size: 20px;
  font-family: Righteous;
  font-weight: bolder;
}

.navbar_links:link, .navbar_links:visited{
  text-decoration: none;
}

.navbar_links{
  color: var(--lighter_color);
  transition: all 0.5s ease-in-out;
}

.navbar_links::after{
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin: 2px auto;
  background: var(--lighter_color);
  transition: all 0.5s ease-in-out;
}

.navbar_links:hover::after{
  width: 100%;
}

.navbar_links:hover{
  text-shadow: 0 0 10px var(--lighter_color);
}

ul {
list-style: none;
}

.container{
  width: 850px;
  height: 400px;
  backdrop-filter: blur(7px);
  background-color: #00000090;
  box-shadow: 0 0 20px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text_cont{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: end;
  align-items: end;
  flex-direction: column;
}

.img_home{
  width: 60%;
  height: 100%;
  background-image: url("/public/Img/home_img.png");
  background-size: 100% 100%;
}

.home_title{
  font-family: Neon;
  color: var(--lighter_color);
  font-size: 80px;
  cursor: default;
}

.home_title2{
  font-family: Righteous;
  color: var(--lighter_color);
  font-size: 40px;
  cursor: default;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.start_img2{
  background-image: url("/public/Img/background.jpg");
}

.container_cars{
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_car1 ,.card_car2, .card_car3{
  width: 400px;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(7px);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 5px black;
  overflow: hidden;
}

.card_car1{
  background-image: url("/public/Img/bmw.png");
}

.card_car2{
  background-image: url("/public/Img/audi.png");
}

.card_car3{
  background-image: url("/public/Img/mercedes.png");
}

.hover_card{
  width: 100%;
  height: 100%;
  background-color: #000000d2;
  backdrop-filter: blur(7px);
  color: var(--lighter_color);
  font-family: Neon;
  font-size: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  translate: 0 350px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.card_car1:hover .hover_card{
  translate: 0 0px;
}

.card_car2:hover .hover_card{
  translate: 0 0px;
}

.card_car3:hover .hover_card{
  translate: 0 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.start_img3{
  background-image: url("/public/Img/background_contacts.jpg");
}

.container_contacts{
  margin-top: 80px;
  width: 500px;
  height: 520px;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 20px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

.content_contacts{
  height: 350px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.contact{
  height: 60px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Righteous;
  font-size: 20px;
  color: var(--lighter_color);
  gap: 20px;
  padding: 0 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.contact:hover{
  background-color: #00000090;
  box-shadow: 0 0 5px var(--lighter_color);
}

.icon1, .icon2, .icon3, .icon4, .icon5 {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

.icon1{
  background-image: url("/public/Img/facebook.png");
}

.icon2{
  background-image: url("/public/Img/instagram.png");
}

.icon3{
  background-image: url("/public/Img/whatsup.png");
}

.icon4{
  background-image: url("/public/Img/youtube.png");
}

.icon5{
  background-image: url("/public/Img/gmail.png");
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.start_img4{
  background-image: url("/public/Img/login.jpg");
}

.container_log{
  margin-top: 80px;
  width: 450px;
  height: 500px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  box-shadow: 0 0 20px 10px black;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.input{
  box-sizing: border-box;
  font-size: 25px;
  padding: 5px 10px;
  outline: none;
  border-radius: 2px;
  border: none;
  background-color: #00000000;
  height: 45px;
  width: 310px;
  font-family: Righteous;
  color: var(--lighter_color);
}

.input_cont{
  width: 310px;
  height: 45px;
  margin: 10px 0;
}

.input_cont:hover::after{
  width: 0%;
}

.input_cont::after{
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--lighter_color);
  transition: all 0.5s ease-in-out;
}

.button{
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--lighter_color);
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
  font-family: Righteous;
  color: black;
}

.button:hover{
  scale: 1.02 1.02;
  box-shadow: 0 0 10px var(--lighter_color);
}

.input:focus{
  background-color: #00000080;
}

.title_log{
  font-family: Neon;
  font-size: 60px;
  color: var(--lighter_color);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.start_img_bmw{
  background-image: url("/public/Img/bmw_bk.jpg");
}

.present_cont{
  width: 100%;
  height: 500px;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}


.rotated{
  height: 200%;
  width: 200px;
  background-color: #ffffff90;
  backdrop-filter: blur(7px);
  rotate: 30deg;
  box-shadow: 0 0 20px 10px black;
}

.present_cont2{
  width: 200%;
  height: 500px;
  margin-top: 80px;
}

.car_info_cont{
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car_cont{
  position: absolute;
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.car_img1, .car_img2, .car_img3, .car_img4, .car_img5, .car_img6, .car_img7, .car_img8, .car_img9{
  width: 100%;
  height: 40%;
  background-size: 100%;
}

.car_txt, .car_txt2{
  width: 80%;
  height: 50%;
  background-color: #00000090;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 20px 10px black;
  padding: 20px 20px;
  font-size: 15px;
  font-family: Righteous;
  color: var(--lighter_color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.car_txt2{
  color: var(--lighter_color);
}

.car_txt:hover{
  box-shadow: 0 0 10px var(--lighter_color);
}

.car_txt2:hover{
  box-shadow: 0 0 10px var(--lighter_color);
}


.car_img1{
  background-image: url("/public/Img/bmw1.webp");
}

.car_img2{
  background-image: url("/public/Img/bmw2.webp");
}

.car_img3{
  background-image: url("/public/Img/bmw3.webp");
}

.car_img4{
  background-image: url("/public/Img/audi1.png");
}

.car_img5{
  background-image: url("/public/Img/audi2.png");
}

.car_img6{
  background-image: url("/public/Img/audi3.png");
}
.car_img7{
  background-image: url("/public/Img/merc1.png");
}
.car_img8{
  background-image: url("/public/Img/merc2.png");
}
.car_img9{
  background-image: url("/public/Img/merc3.png");
}

.car_title{
  text-align: center;
  font-family: Neon;
  font-size: 20px;
  cursor: default;
}

.start_img_audi{
  background-image: url("/public/Img/audi_bk.jpg");
}

.start_img_merc{
  background-image: url("/public/Img/merc_bk.jpg");
}